--
-- PostgreSQL database dump
--

\restrict HGR7j2Z4piZ1c8iImz4mLcxT0zSmktG1JCCa0n0XRtDujWPQt0YHedSzw0XWeyS

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.watch_history DROP CONSTRAINT IF EXISTS watch_history_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.watch_history DROP CONSTRAINT IF EXISTS watch_history_movie_id_fkey;
ALTER TABLE IF EXISTS ONLY public.uploads DROP CONSTRAINT IF EXISTS uploads_movie_id_fkey;
ALTER TABLE IF EXISTS ONLY public.refresh_tokens DROP CONSTRAINT IF EXISTS refresh_tokens_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.ratings DROP CONSTRAINT IF EXISTS ratings_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.ratings DROP CONSTRAINT IF EXISTS ratings_movie_id_fkey;
ALTER TABLE IF EXISTS ONLY public.password_reset_tokens DROP CONSTRAINT IF EXISTS password_reset_tokens_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.movie_genres DROP CONSTRAINT IF EXISTS movie_genres_movie_id_fkey;
ALTER TABLE IF EXISTS ONLY public.movie_genres DROP CONSTRAINT IF EXISTS movie_genres_genre_id_fkey;
ALTER TABLE IF EXISTS ONLY public.favorites DROP CONSTRAINT IF EXISTS favorites_user_id_fkey;
ALTER TABLE IF EXISTS ONLY public.favorites DROP CONSTRAINT IF EXISTS favorites_movie_id_fkey;
DROP INDEX IF EXISTS public.watch_history_user_id_movie_id_key;
DROP INDEX IF EXISTS public.watch_history_user_id_last_watched_at_idx;
DROP INDEX IF EXISTS public.users_email_key;
DROP INDEX IF EXISTS public.uploads_object_key_key;
DROP INDEX IF EXISTS public.uploads_movie_id_idx;
DROP INDEX IF EXISTS public.refresh_tokens_user_id_idx;
DROP INDEX IF EXISTS public.refresh_tokens_token_key;
DROP INDEX IF EXISTS public.ratings_user_id_movie_id_key;
DROP INDEX IF EXISTS public.ratings_movie_id_idx;
DROP INDEX IF EXISTS public.password_reset_tokens_user_id_idx;
DROP INDEX IF EXISTS public.password_reset_tokens_token_key;
DROP INDEX IF EXISTS public.movies_tmdb_id_key;
DROP INDEX IF EXISTS public.movies_title_idx;
DROP INDEX IF EXISTS public.movies_release_year_idx;
DROP INDEX IF EXISTS public.movie_genres_genre_id_idx;
DROP INDEX IF EXISTS public.idx_movies_status;
DROP INDEX IF EXISTS public.idx_movies_created_at;
DROP INDEX IF EXISTS public.genres_slug_key;
DROP INDEX IF EXISTS public.genres_name_key;
DROP INDEX IF EXISTS public.favorites_user_id_movie_id_key;
DROP INDEX IF EXISTS public.favorites_user_id_idx;
DROP INDEX IF EXISTS public.actors_name_key;
ALTER TABLE IF EXISTS ONLY public.watch_history DROP CONSTRAINT IF EXISTS watch_history_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.uploads DROP CONSTRAINT IF EXISTS uploads_pkey;
ALTER TABLE IF EXISTS ONLY public.refresh_tokens DROP CONSTRAINT IF EXISTS refresh_tokens_pkey;
ALTER TABLE IF EXISTS ONLY public.ratings DROP CONSTRAINT IF EXISTS ratings_pkey;
ALTER TABLE IF EXISTS ONLY public.password_reset_tokens DROP CONSTRAINT IF EXISTS password_reset_tokens_pkey;
ALTER TABLE IF EXISTS ONLY public.movies DROP CONSTRAINT IF EXISTS movies_pkey;
ALTER TABLE IF EXISTS ONLY public.movie_genres DROP CONSTRAINT IF EXISTS movie_genres_pkey;
ALTER TABLE IF EXISTS ONLY public.genres DROP CONSTRAINT IF EXISTS genres_pkey;
ALTER TABLE IF EXISTS ONLY public.favorites DROP CONSTRAINT IF EXISTS favorites_pkey;
ALTER TABLE IF EXISTS ONLY public.actors DROP CONSTRAINT IF EXISTS actors_pkey;
ALTER TABLE IF EXISTS ONLY public._prisma_migrations DROP CONSTRAINT IF EXISTS _prisma_migrations_pkey;
DROP TABLE IF EXISTS public.watch_history;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.uploads;
DROP TABLE IF EXISTS public.refresh_tokens;
DROP TABLE IF EXISTS public.ratings;
DROP TABLE IF EXISTS public.password_reset_tokens;
DROP TABLE IF EXISTS public.movies;
DROP TABLE IF EXISTS public.movie_genres;
DROP TABLE IF EXISTS public.genres;
DROP TABLE IF EXISTS public.favorites;
DROP TABLE IF EXISTS public.actors;
DROP TABLE IF EXISTS public._prisma_migrations;
DROP TYPE IF EXISTS public."UserRole";
DROP TYPE IF EXISTS public."UploadStatus";
DROP TYPE IF EXISTS public."UploadFileType";
DROP TYPE IF EXISTS public."MovieStatus";
DROP TYPE IF EXISTS public."EncodeStatus";
--
-- Name: EncodeStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."EncodeStatus" AS ENUM (
    'pending',
    'processing',
    'ready',
    'failed'
);


--
-- Name: MovieStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."MovieStatus" AS ENUM (
    'draft',
    'published'
);


--
-- Name: UploadFileType; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UploadFileType" AS ENUM (
    'video',
    'thumbnail'
);


--
-- Name: UploadStatus; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UploadStatus" AS ENUM (
    'uploading',
    'uploaded',
    'failed'
);


--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public."UserRole" AS ENUM (
    'viewer',
    'admin'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


--
-- Name: actors; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.actors (
    id uuid NOT NULL,
    name character varying(255) NOT NULL
);


--
-- Name: favorites; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.favorites (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    movie_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: genres; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.genres (
    id uuid NOT NULL,
    name character varying(100) NOT NULL,
    slug character varying(100) NOT NULL
);


--
-- Name: movie_genres; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.movie_genres (
    movie_id uuid NOT NULL,
    genre_id uuid NOT NULL
);


--
-- Name: movies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.movies (
    id uuid NOT NULL,
    title character varying(500) NOT NULL,
    description text,
    poster_url character varying(1000),
    backdrop_url character varying(1000),
    duration_seconds integer,
    release_year integer,
    movie_status public."MovieStatus" DEFAULT 'draft'::public."MovieStatus" NOT NULL,
    encode_status public."EncodeStatus" DEFAULT 'pending'::public."EncodeStatus" NOT NULL,
    playback_url character varying(1000),
    original_key character varying(500),
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    original_language character varying(10),
    popularity double precision DEFAULT 0,
    tmdb_id integer,
    trailer_url character varying(500),
    vote_average double precision DEFAULT 0,
    vote_count integer DEFAULT 0,
    actors text[] DEFAULT ARRAY[]::text[]
);


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.password_reset_tokens (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    token character varying(512) NOT NULL,
    used boolean DEFAULT false NOT NULL
);


--
-- Name: ratings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ratings (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    movie_id uuid NOT NULL,
    rating smallint NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    comment text
);


--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.refresh_tokens (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    token character varying(512) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    revoked boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: uploads; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.uploads (
    id uuid NOT NULL,
    movie_id uuid NOT NULL,
    object_key character varying(500) NOT NULL,
    file_type public."UploadFileType" NOT NULL,
    upload_status public."UploadStatus" DEFAULT 'uploading'::public."UploadStatus" NOT NULL,
    size_bytes bigint,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role public."UserRole" DEFAULT 'viewer'::public."UserRole" NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    disabled_at timestamp with time zone,
    disabled_reason character varying(500),
    is_active boolean DEFAULT true NOT NULL,
    avatar_url character varying(1000),
    display_name character varying(100)
);


--
-- Name: watch_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.watch_history (
    id uuid NOT NULL,
    user_id uuid NOT NULL,
    movie_id uuid NOT NULL,
    progress_seconds integer DEFAULT 0 NOT NULL,
    duration_seconds integer DEFAULT 0 NOT NULL,
    completed boolean DEFAULT false NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    created_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    last_watched_at timestamp with time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: actors; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: favorites; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.favorites (id, user_id, movie_id, created_at) FROM stdin;
\.


--
-- Data for Name: genres; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: movie_genres; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: movies; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.password_reset_tokens (id, user_id, expires_at, created_at, token, used) FROM stdin;
\.


--
-- Data for Name: ratings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.ratings (id, user_id, movie_id, rating, created_at, updated_at, comment) FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: uploads; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: watch_history; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.watch_history (id, user_id, movie_id, progress_seconds, duration_seconds, completed, updated_at, created_at, last_watched_at) FROM stdin;
\.


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: actors actors_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.actors
    ADD CONSTRAINT actors_pkey PRIMARY KEY (id);


--
-- Name: favorites favorites_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_pkey PRIMARY KEY (id);


--
-- Name: genres genres_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.genres
    ADD CONSTRAINT genres_pkey PRIMARY KEY (id);


--
-- Name: movie_genres movie_genres_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movie_genres
    ADD CONSTRAINT movie_genres_pkey PRIMARY KEY (movie_id, genre_id);


--
-- Name: movies movies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movies
    ADD CONSTRAINT movies_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (id);


--
-- Name: ratings ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: uploads uploads_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.uploads
    ADD CONSTRAINT uploads_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: watch_history watch_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watch_history
    ADD CONSTRAINT watch_history_pkey PRIMARY KEY (id);


--
-- Name: actors_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX actors_name_key ON public.actors USING btree (name);


--
-- Name: favorites_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX favorites_user_id_idx ON public.favorites USING btree (user_id);


--
-- Name: favorites_user_id_movie_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX favorites_user_id_movie_id_key ON public.favorites USING btree (user_id, movie_id);


--
-- Name: genres_name_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX genres_name_key ON public.genres USING btree (name);


--
-- Name: genres_slug_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX genres_slug_key ON public.genres USING btree (slug);


--
-- Name: idx_movies_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_movies_created_at ON public.movies USING btree (created_at DESC);


--
-- Name: idx_movies_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_movies_status ON public.movies USING btree (movie_status, encode_status);


--
-- Name: movie_genres_genre_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX movie_genres_genre_id_idx ON public.movie_genres USING btree (genre_id);


--
-- Name: movies_release_year_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX movies_release_year_idx ON public.movies USING btree (release_year);


--
-- Name: movies_title_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX movies_title_idx ON public.movies USING btree (title);


--
-- Name: movies_tmdb_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX movies_tmdb_id_key ON public.movies USING btree (tmdb_id);


--
-- Name: password_reset_tokens_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX password_reset_tokens_token_key ON public.password_reset_tokens USING btree (token);


--
-- Name: password_reset_tokens_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX password_reset_tokens_user_id_idx ON public.password_reset_tokens USING btree (user_id);


--
-- Name: ratings_movie_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ratings_movie_id_idx ON public.ratings USING btree (movie_id);


--
-- Name: ratings_user_id_movie_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ratings_user_id_movie_id_key ON public.ratings USING btree (user_id, movie_id);


--
-- Name: refresh_tokens_token_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX refresh_tokens_token_key ON public.refresh_tokens USING btree (token);


--
-- Name: refresh_tokens_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX refresh_tokens_user_id_idx ON public.refresh_tokens USING btree (user_id);


--
-- Name: uploads_movie_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX uploads_movie_id_idx ON public.uploads USING btree (movie_id);


--
-- Name: uploads_object_key_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX uploads_object_key_key ON public.uploads USING btree (object_key);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: watch_history_user_id_last_watched_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX watch_history_user_id_last_watched_at_idx ON public.watch_history USING btree (user_id, last_watched_at DESC);


--
-- Name: watch_history_user_id_movie_id_key; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX watch_history_user_id_movie_id_key ON public.watch_history USING btree (user_id, movie_id);


--
-- Name: favorites favorites_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: favorites favorites_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.favorites
    ADD CONSTRAINT favorites_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: movie_genres movie_genres_genre_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movie_genres
    ADD CONSTRAINT movie_genres_genre_id_fkey FOREIGN KEY (genre_id) REFERENCES public.genres(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: movie_genres movie_genres_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.movie_genres
    ADD CONSTRAINT movie_genres_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: password_reset_tokens password_reset_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ratings ratings_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ratings ratings_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT ratings_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: uploads uploads_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.uploads
    ADD CONSTRAINT uploads_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: watch_history watch_history_movie_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watch_history
    ADD CONSTRAINT watch_history_movie_id_fkey FOREIGN KEY (movie_id) REFERENCES public.movies(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: watch_history watch_history_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.watch_history
    ADD CONSTRAINT watch_history_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict HGR7j2Z4piZ1c8iImz4mLcxT0zSmktG1JCCa0n0XRtDujWPQt0YHedSzw0XWeyS

